# Ignore les dossiers et fichiers générés par npm
/node_modules

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de sauvegarde
**.bak

# Ignorer les fichiers de configuration de l'éditeur
.vscode

# Ignorer les fichiers de cache
.cache

# Ignorer les fichiers de build
/build

# Ignorer les fichiers de dépendances
package-lock.json

# Ignorer les fichiers de configuration utilisateur
.npmrc

# Ignorer les fichiers de configuration système
.npm

# Ignorer les fichiers de test
__tests__

# Ignorer les fichiers de couverture de test
coverage
